<ion-header>

  <ion-navbar>
    <ion-title>Sorting</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label color="primary">Numbers</ion-label>
      <ion-input type="text" [(ngModel)]="numberString" placeholder="Enter your numbers" (keyup)="onKey($event)"></ion-input>
    </ion-item>

  </ion-list>

  <button ion-button (click)="onSubmit()" [disabled]="!isButtonEnable">Next</button>
  <br>


  <button *ngIf="!goNextBtnHideMe" ion-button (click)="handleBubbleSortSteps()" [disabled]="!isSortReady">
    Go Next
  </button>

  <!-- print all except bubbleSort -->

  <button ion-button round *ngFor="let item of resultArray">
    {{ item }}
  </button>

  <!-- print bubble sort -->
  <div *ngIf="isSortReady">
    <div *ngFor="let item of sortSteps; let i = index">

      <button ion-button round *ngIf="i < itemCount">
        {{ item }}
      </button>

    </div>
  </div>

  <!--"let item of resultArray" it's a declaration. where 'item' & 'resltArray' position defines-->

</ion-content>
